@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: white;
    background-color: black;
    height: 100vh;
    
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    font-size: 38px;
    text-align: center;
    margin: 30px 0px;
}

h2.titulo span{
    color: #00FF08;
}

button:hover{
    box-shadow: 0px 0px 8px #00FF08;
    transform: scale(1.05);
}

/*Estilo Cabeçalho*/

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s; 
    
}

header a:hover{
    color: white;
    transform: scale(1.07);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}



/*Estilo topo do site*/

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.txt-do-site > h1{
    color: white;
    font-size: 34px;
    line-height: 40px;
}

.txt-do-site > p{
   margin: 40px 0px;
   
}

.txt-do-site > h1 > span{
    color: #00FF08;
    font-size: 50px;
}

.topo-do-site .img-topo-do-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*Estilo das Especialidades*/

section.especialidades .flex{
    gap: 60px;
}

section.especialidades{
    padding: 40px 4%;
}

.especialidades .especialidades-box{
    padding: 40px;
    border-radius: 25px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow:  0 0 15px rgba(207, 13, 13, 0.664);
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0px;

}

/*Estilo sobre*/


section.sobre{
    padding: 100px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

section.txt-sobre{
    padding: 40px 4%;
}

.sobre .txt-sobre h2{
    font-size: 40px;
}

.sobre .txt-sobre  h2 span{
    color: #00FF08;
}

hr{
    border-color: rgb(37, 109, 39);
    
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: #00FF08;
    cursor: pointer;
    margin: 0 10px;
    transition: .2s;
}

    /*Parte Responsiva*/

@media screen and (max-width: 1089px){

    /*Classes Gerais*/

    .flex{
        flex-direction: column;
    }

    h2 .titulo{
        font-size: 32px;
    
    }

    /*topo do site*/

     section.topo-do-site{
        padding: 20px 8%;
     }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    .topo-do-site h1{
        font-size: 32px;
        line-height: 33px;
    }

    .topo-do-site .img-topo-do-site img{
        width: 99%;
    }

    section .topo-do-site .flex{
        gap: 70px;
    }

    /*Sessão do cabeçalho*/



    .menu-desktop, .btn-contato{
        display: none;
    }

    /*Especialidades*/

    section.especialidades{
        padding: 40% 8%;
    }

    /*sobre*/

    section.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 35px;
        line-height: 40px;
    }

    .btn-social{
        display: flex;
    }

    .img-sobre img{
        width: 100%;
    }

    /*portifolio*/


}


